# This is a standard to preconfigure editors
# check: https://editorconfig.org/
root = true

# 4 space indentation
[*.py]
charset = utf-8
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = false
end_of_line = lf
