site_name: db-ally
repo_url: https://github.com/deepsense-ai/db-ally
nav:
  - db-ally: index.md
  - Quickstart:
      - quickstart/index.md
      - quickstart/quickstart2.md
      - quickstart/quickstart3.md
  - Tutorials:
      - tutorials.md
  - Concepts:
      - concepts/views.md
      - concepts/structured_views.md
      - concepts/freeform_views.md
      - concepts/collections.md
      - concepts/iql.md
      - concepts/similarity_indexes.md
      - concepts/nl_responder.md
  - How-to:
      - Using data sources:
          - how-to/sql_views.md
          - how-to/pandas_views.md
          - how-to/custom_views.md
      - Using similarity indexes:
          - how-to/use_custom_similarity_fetcher.md
          - how-to/use_chromadb_store.md
          - how-to/use_elastic_store.md
          - how-to/use_custom_similarity_store.md
          - how-to/update_similarity_indexes.md
      - how-to/log_runs_to_langsmith.md
      - how-to/create_custom_event_handler.md
      - how-to/openai_assistants_integration.md
  - API Reference:
      - reference/index.md
      - reference/collection.md
      - Views:
          - reference/views/index.md
          - reference/views/structured.md
          - reference/views/databases.md
          - reference/views/dataframe.md
      - IQL:
          - reference/iql/index.md
          - reference/iql/iql_generator.md
      - Event handlers:
          - reference/event_handlers/index.md
          - reference/event_handlers/cli_handler.md
          - reference/event_handlers/langsmith_handler.md
      - View Selection:
          - reference/view_selection/index.md
          - reference/view_selection/llm_view_selector.md
      - reference/nl_responder.md
      - LLMs:
          - reference/llm/index.md
          - reference/llm/llm_options.md
          - reference/llm/openai.md
          - reference/llm/prompt_builder.md
      - Similarity:
          - reference/similarity/index.md
          - Store:
              - reference/similarity/similarity_store/index.md
              - reference/similarity/similarity_store/faiss.md
              - reference/similarity/similarity_store/chroma.md
          - Fetcher:
              - reference/similarity/similarity_fetcher/index.md
              - reference/similarity/similarity_fetcher/sqlalchemy.md
              - reference/similarity/similarity_fetcher/sqlalchemy_simple.md
          - reference/similarity/detector.md
      - Embeddings:
          - reference/embeddings/index.md
          - reference/embeddings/openai.md
  - About:
      - about/roadmap.md

theme:
  name: material
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: primary
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: primary
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - navigation.tabs
    - content.code.annotate
    - content.code.copy
extra_css:
  - stylesheets/extra.css
markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid

  - admonition
  - pymdownx.superfences
  - pymdownx.snippets
  - pymdownx.inlinehilite
  - attr_list
  - pymdownx.details
  - def_list
  - pymdownx.tasklist:
      custom_checkbox: true
plugins:
  - search
  - autorefs:
      enable: true
  - mkdocstrings:
      handlers:
        python:
          options:
            # extensions:
            #   - griffe_typingdoc
            show_root_heading: true
            show_if_no_docstring: true
            inherited_members: true
            members_order: source
            separate_signature: true
            unwrap_annotated: true
            filters:
              - "!^_"
            merge_init_into_class: true
            docstring_section_style: spacy
            signature_crossrefs: true
            show_symbol_type_heading: true
            show_symbol_type_toc: true
            show_signature_annotations: true
extra:
  analytics:
    provider: google
    property: G-FBBJRN0H0G
