# Requirements as needed for development for this project.
# ---------------------------------------------------------
# Install current project
-e.[litellm,chromadb]
# developer tools:
pre-commit
pytest>=6.2.5
pytest-asyncio>=0.23.4
pytest-cov
# for getting dependency licenses and docs:
pip-licenses>=4.0.0,<5.0.0
# for bumping version strings
bump2version>=1.0.1,<2.0.0
mypy==1.8.0
# for building docs
griffe-typingdoc==0.2.5
mkdocs==1.5.3
mkdocs-autorefs==1.0.1
mkdocs-material==9.5.13
mkdocs-material-extensions==1.3.1
mkdocstrings==0.24.1
mkdocstrings-python==1.8.0